.postTop {
  ul {
    li {
      list-style: none;
      display: inline-flex;
      align-items: center;
      margin-right: 1rem;
    }
    svg {
      margin-right: 0.425rem;
    }
  }
  margin-bottom: 1.5rem;
}

.conteudo{
  ul{
    margin-left: 3rem;
  }
  p{
    margin-top:1rem
  }
  pre {
    background: rgba(40, 41, 54, 1) !important;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    height: auto;
    color: #ccc;
    text-shadow: none; 
    line-height: 1.8;
    font-size: 16px;
  }
  h2{
    font-size: 30px;
    line-height: 1.4;
    margin: 5px 0 25px;
  }
}